</main>
<div class="container">
    <footer class=" mt-2">
      <p class="text-center ">Made with ❤️ by Sai Rakesh</p>
      <p class="text-center  ">Copyright © 2023</p>
    </footer>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="/app.js" charset="UTF-8"></script>
</body>
</html>