<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Blog Post</title>
    <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/512/7692/7692809.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</head>
<body class = "background">
  <main>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center mb-4">
          <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="https://i.pngimg.me/thumb/f/350/comdlpng6934995.jpg" class="bi me-2" width="40" height="32" alt="Logo">
            <span class="fs-1">Blog Website</span>
        </a>        
    
          <ul class="nav nav-pills ">
            <li class="nav-item"><a href="/home" class="nav-link" aria-current="page">Home</a></li>
            <li class="nav-item"><a href="/posts" class="nav-link" aria-current="page">Posts</a></li>
            <li class="nav-item"><a href="/login" class="nav-link">Create</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">Contact</a></li>
          </ul>
        </header>
        <hr>
      </div>
      
      <div class="container">