<%-include("partials/header.ejs")%>
</div>
<div class="container">
    <h1>
        <%= title %>
    </h1>
    <p class="truncated-content">
        <%= post %>
    </p>
</div>
<%-include("partials/footer.ejs")%>